ul {
    position: absolute;
    top: -15px;
    left: 350px;
}

li {
    background-color: rgb(216, 12, 12);
    padding: 10px;
    margin: 3px;
    border-radius: 30px;
    display: inline-block;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    border-bottom: 2px white solid;
}

p {
    color: white;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
}

h2 {
    top: 50;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    text-align: center;
}

body {
    background-color: black;
}

img {
    width: 300px;
}

footer {
    background-color: green;
    border-bottom: 2px white solid;
}