<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Área do Aluno</title>
    <link rel="stylesheet" type="text/css" href="../static/css/area_do_aluno.css"/>
</head>
<body>
    <header>
        <h2>CyberTech - O futuro está em você.</h2>
        <img src="../static/img/logo1.png"/>
    <nav>
        <ul>
            <li><a href="index">Home Page</a></li>
            <li><a href="listascursos">Lista de Cursos</a></li>
            <li><a href="detalhecurso">Detalhe de Curso</a></li>
            <li><a href="disciplinas">Disciplina</a></li>
            <li><a href="noticias">Notícias</a></li>
            <li><a href="login">Login</a></li>
        </ul>
    </header>
    <h1>Em construção!</h1>
    <h3>Estamos construindo a área do aluno, onde será possível visualizar suas notas e seus cursos.</h3>
</nav>
<footer>
    <p>Faculdade CyberTech - Todos os direitos reservados © 2018.</p>
</footer>
</body>
</html>