<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>Home Page | LMS</title>
    <link rel="stylesheet" type="text/css" href="../static/css/disciplinas.css" />
</head>
<body>
<header>
    <h2>CyberTech - O futuro está em você.</h2>
    <img src="../static/img/logo1.png"/>
<nav id="menu">
    <ul>
        <li><a href="index">Home Page</a></li>
        <li><a href="listascursos">Lista de Cursos</a></li>
        <li><a href="detalhecurso">Detalhe de Curso</a></li>
        <li><a href="disciplinas">Disciplina</a></li>
        <li><a href="noticias">Notícias</a></li>
        <li><a href="login">Login</a></li>
    </ul>
</nav>
</header>
<ul> <h3>  Análise e Desenvolvimento de Sistemas</h3>
   <br/> <h3>1&ordm; semestre</h3>
    <li>Comunicação e Expressão</li>
       <li> Fundamentos de Banco de Dados</li>
       <li> Introdução à Internet das Coisas - IoT</li>
        <li>Linguagem de Programação I</li>
       <li> Lógica de Programação</li>
       <li> Matemática Aplicada</li>
</ul> 
<ul>
        <h3>2&ordm; semestre</h3>
<li>Linguagem de Programação II</li>
<li>Linguagem SQL</li>
<li>Tecnologia Web</li>
<li>Engenharia de Software</li>
<li>Gestão de Projetos</li>

</ul>
<ul>
   <h3> 3&ordm; Semestre</h3> 
<li>Desenvolvimento de Aplicações Distribuídas</li>
<li>Estrutura de Dados</li>
<li>Análise e Modelagem de Sistemas</li>
<li>Engenharia de Requisitos</li>
<li>Interface Homem-Computador</li>
</ul>
<ul>
<h3>4&ordm; Semestre</h3>
<li>Arquitetura e Projeto de Sistemas</li>
<li>Desenvolvimento para Dispositivos Móveis</li>
<li>Desenvolvimento para Internet das Coisas</li>
<li>Qualidade de Software</li>
<li>OPE2 - Oficina Projeto Empresa 2</li>
</ul>
<ul>
        <h3>Redes de Computadores</h3>
      <br/><h3>
          1&ordm; Semestre
      </h3> 
<li>Administração de Redes e Sistemas</li>
<li>Arquitetura de Redes de Computadores</li>
<li>Cabeamento Estruturado</li>
<li>Comunicação e Expressão</li>
<li>Fundamentos de Sistemas Operacionais</li>
</ul>
<ul>
   <h3> 2&ordm; Semestre</h3>
        <li>Administração de Redes e Sistemas Operacionais Livres</li>
        <li> Ambiente de Desenvolvimento e Operação - DevOps</li>
        <li>  Gestão de Projetos</li>
        <li>  Gestão de TI</li>
        <li>  Oficina Projeto Empresa 1 - OPE1</li>
</ul>
<ul>
    <h3>3&ordm; Semestre</h3>
    <li> Comunicação de Dados</li>
    <li>Diagnóstico e Gerenciamento de Redes</li>
    <li>Legislação e Ética: 40 horas (EAD)</li>
    <li>Oficina Projeto Empresa 2 </li>
    <li>Optativa (Sociedade e Sustentabilidade / Língua Brasileira de Sinais - LIBRAS)</li>
</ul>
<ul>
    <h3>4&ordm; Semestre</h3>
   <li> Computação em Nuvem</li>
   <li>Comunicações Móveis</li>
   <li>Auditoria e Controle de TI</li>
   <li>Oficina Projeto Empresa 3 - OPE3</li>
   <li>Redes IPV6</li>
</ul>
<ul>
    <h3>Pentesting Especialist</h3>
    <br/><h3>Modulo Unico </h3>
    <li>Black-box</li>
    <li>White-box</li>
    <li>Fase de Reconhecimento</li>
    <li>FAse de varredura </li>
    <li>Fase de Obtenção de Acesso e Exploração</li>
    <li>Fase de Obtenção de Evidências e Reporte</li>
    </ul>
    <ul><h3>Desenho Digital</h3>
        <br/><h3>1&ordm; Semestre </h3>
     <li>   Desenho Bi e Tridimensional</li>
     <li>História da Arte e do Design Gráfico</li>
     <li>Roteiro e Linguagem Cinematográfica</li>
     <li>Teoria de Modelagem Tridimensional</li>

     <h3>2&ordm; Semestre </h3>
     <li>Arte Conceitual</li>
     <li>Ética e Cidadania</li>
     <li>Modelagem Artística</li>
     <li>Direção de Arte</li>

     <h3>3&ordm; Semestre</h3>
     <li>Design de Embalagem e Produto Conceitual</li>
     <li>Comunicação e Expressão</li>
     <li>Produção e Processos Gráficos</li>
     <li>Teoria e Edição de Vídeo e Áudio</li>


    </ul>
</ul>
<footer>
        <p>Faculdade CyberTech - Todos os direitos reservados © 2018.</p>
    </footer>
</body>
</html>
