<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>Home Page | LMS</title>
    <link rel="stylesheet" type="text/css" href="../static/css/homepage.css" />
</head>
<body>
<header>
    <h2>CyberTech - O futuro está em você.</h2>
    <img src="../static/img/logo1.png"/>
<nav>
    <ul>
        <li><a href="index">Home Page</a></li>
        <li><a href="listascursos">Lista de Cursos</a></li>
        <li><a href="detalhecurso">Detalhe de Curso</a></li>
        <li><a href="disciplinas">Disciplina</a></li>
        <li><a href="noticias">Notícias</a></li>
        <li><a href="login">Login</a></li>
    </ul>
</nav>
</header>
    <h1>Vestibular 2019</h1>
        <h4>Confira nossa lista de cursos e faça parte da maior faculdade de tecnologia!</h4>
            <br/><p>A Faculdade CyberTech é líder em referência no mercado<br/> com altas taxas de empregabilidade de nossos formandos.</p>
            <li><a href="area_do_aluno">Área do Aluno</a></li>
            <li><a href="area_do_professor">Área do Professor</a></li>
</body>
<footer>
    <p>Faculdade CyberTech - Todos os direitos reservados © 2018.</p>
</footer>
</html>
