<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>Lista de Cursos | LMS</title>
    <link rel="stylesheet" type="text/css" href="static/css/listascursos.css" />
</head>
<body>
<header>
    <h2>CyberTech - O futuro está em você.</h2>
    <img src="static/img/logo1.png"/>
<nav>
    <ul>
        <li><a href="index">Home Page</a></li>
        <li><a href="listascursos">Lista de Cursos</a></li>
        <li><a href="detalhecurso">Detalhe de Curso</a></li>
        <li><a href="disciplinas">Disciplina</a></li>
        <li><a href="noticias">Notícias</a></li>
        <li><a href="login">Login</a></li>
    </ul>
</nav>
</header>
<h3>
    Disponibilizamos os melhores cursos do mercado. Confira uma breve descrição de cada um deles!
</h3>
<table border="10">
    <tr>
        <th>Análise e Desenvolvimento de Sistemas</th>
            <td>Estude com os melhores professores e torne-se um analista de sistemas!<br/>Com aulas de programação, bancos de dados e engenharia de software, esse curso de menor duração é altamente indicado.
            </td>
        <th>Redes de Computadores</th>
            <td>Aprenda a gerenciar e criar redes dos mais variados tipos.<br/>Servidores, roteadores e outras tarefas dos profissionais de <i>infra</i> são lecionadas neste curso.
            </td>
    </tr>
    <tr>
        <th>Pentesting Especialist</th>
            <td>
                Domine as técnicas de testes de penetração em redes e aplicações. Você irá utilizar as principais ferramentas de reconhecimento e análise para encontrar e reportar vulnerabilidades.
            </td>
        <th>Desenho Digital</th>
            <td>
                Unindo a tecnologia com a arte de desenhar, este curso é ideal para aqueles que querem avançar de nível quando o assunto é arte, criação de personagens e cenários. Aulas com tablet's específicos para o desenvolvimento.
            </td>
    </tr>
</table>
</body>
<footer>
    <p>Faculdade CyberTech - Todos os direitos reservados © 2018.</p>
</footer>
</html>
