<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>Login | LMS</title>
    <link rel="stylesheet" type="text/css" href="../static/css/loginpage.css" />
</head>
<body>
<header>
    <h2>CyberTech - O futuro está em você.</h2>
    <img src="../static/img/logo1.png"/>
<nav>
    <ul>
        <li><a href="index">Home Page</a></li>
        <li><a href="listascursos">Lista de Cursos</a></li>
        <li><a href="detalhecurso">Detalhe de Curso</a></li>
        <li><a href="disciplinas">Disciplina</a></li>
        <li><a href="noticias">Notícias</a></li>
        <li><a href="login">Login</a></li>
    </ul>
</nav>
</header>
<div class="box">
    <h3>Login</h3>
    <form>
        <div class="inputBox">
            <input type="text" name="" required="">
            <label>Usuário</label>
        </div>
        <div class="inputBox">
                <input type="password" name="" required="">
                <label>Senha</label>
            </div>
            <input type="submit" name="" value="Entrar">
    </form>
</div>
</body>
<footer>
    <p>Faculdade CyberTech - Todos os direitos reservados © 2018.</p>
</footer>
</html>
