ul {
    position: absolute;
    top: -15px;
    left: 350px;
}

li {
    background-color: rgb(216, 12, 12);
    padding: 10px;
    margin: 3px;
    border-radius: 30px;
    display: inline-block;
    transition: background-color 1s;
}

li:hover {
    background-color: black;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family:Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}

h2 {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    position: absolute;
    left: 170px;
    top: 50px;
}

h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    background-color: black;
}

img {
    width: 150px;
    position: absolute;
    top: -20px;
}

header {
    border-bottom: 1px white solid;
    height: 100px;
}

footer {
    position: absolute;
    bottom: 0px;
    border-top: 3px solid white;
    background-color: gray;
    width: 100%;
    text-align: center;
}

tr {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
